html
  // border-box box model allows us to add padding and border to our elements without increasing their size
  box-sizing: border-box

  // WAT IS THIS?!
  // We inherit box-sizing: border-box; from our <html> selector
*
  margin: 0
  padding: 0,
*:before,
*:after
  box-sizing: inherit

body
  //delete the background to apply your own style
  font-size: 18px
  line-height: 1.6
  color: black
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  overflow-x: hidden
  
.bg-wrap
  background-image: radial-gradient(circle 248px at center, $aqua 0%, $lightblue 47%, $blue 100%)
  max-width: 1440px
  margin: 0 auto

.wrapper
  width: 100%
  margin: 0 auto
  max-width: 1440px