.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
  display: inline-block
  padding: 10px 20px
  color: black
  text-align: center
  font-size: 16px
  font-weight: 600
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  background-color: white
  border-radius: 4px
  cursor: pointer
  box-sizing: border-box
  transition: all 0.2s ease

  &:hover,
  &:active,
  &:focus

    outline: 0
    transform: scale(1.01)
    transform: translateY(3px)
    @include shadow

#gallery
    width: 25%
    background-color:#fff
    border-radius: 15px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 999

.musicbox
    padding: 25px
    color:#333

.buttons
  height: 50px
  width: 100%
  margin-top: 50px
  position: relative
  top: 10%
  left: 50%
  transform: translate(-50%,-50%)

#play
  width: 50px
  height: 50px
  border: 0
  background-color: royalblue
  border-radius: 50%
  outline: none
  cursor: pointer
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

#seek-bar
  width: 250px
  height: 5px
  background-color: gray
  display: flex
  border-radius: 50px
  margin-left: 25px
  cursor: pointer

#fill
  height: 5px
  background-color: royalblue
  border-radius: 20px

#handle
  width: 8px
  height: 8px
  background-color: royalblue
  border-radius: 50%
  margin-left: -5px
  transform: scale(2)