body
  height: 100%
  
#gallery

.grid-title
  margin: 50px 50px
  padding: 0px 50px

.show-title
  text-align: center
  padding: 15px

.heading
  display: inline-block
  position: relative
  max-width: 80%
  &:before
    right: 100%
  &:after
    left: 100% 
  &:after,
  &:before
    content: ""
    width: 100px
    height: 1px
    position: absolute
    margin: 0 17px
    background: #000
    top: 50%

.blurb-box
  padding-top: 10px
  text-align: justify
  @media only screen and (max-width: 680px)
    text-align: center

.musicbox
  padding: 25px
  color:#333

.buttons
  height: 100%
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  top: 0
  left: 0

.play
  transform: translateX(-30px)
  width: 50px
  height: 50px
  border: none
  border-radius: 50%
  outline: none
  cursor: pointer
  position: absolute
  background: rgba(0, 0, 0, 0.57)
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  &:hover,
  &:active,
  &:focus
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .75)
    background: none
    outline: 0
    transform: scale(1.01)
    transform: translate(-30px, 1px)

.restart
  transform: translateX(30px)
  width: 50px
  height: 50px
  border: none
  border-radius: 50%
  outline: none
  cursor: pointer
  position: absolute
  background: rgba(0, 0, 0, 0.57)
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  &:hover,
  &:active,
  &:focus
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .75)
    background: none
    outline: 0
    transform: scale(1.01)
    transform: translate(30px, 1px)

#seek-bar
  width: 130px
  height: 5px
  background-color: rgba(0, 0, 0, 0.57)
  display: flex
  border-radius: 50px
  margin: 0 auto
  cursor: pointer
  transform: translateY(34px)

#fill0,
#fill1,
#fill2,
#fill3,
#fill4,
  height: 5px
  background-color: $blue
  border-radius: 20px

#handle
  width: 8px
  height: 8px
  background-color: white
  border-radius: 50%
  margin-left: -5px
  transform: scale(2)

.grid-containment
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  grid-gap: 1em
  img
    width: 100%
    height: auto

.location-listing 
  position: relative
 
.location-title
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100% 
  /* typographic styles */
  color: white
  font-size: 1.5em
  font-weight: bold
  text-decoration: none; 
  /* position the text centrally*/
  display: flex
  align-items: center
  justify-content: center

.location-image
  line-height: 0