.talkbox
    display: block
    margin: 0 10px 0 10px
    min-height: 90vh
    max-width: 45vw
    float: left
    position: relative
    left: 86px
    @media screen and (max-width: 1028px)
        left: 0px
    @media screen and (max-width: 480px)
        display: inline
        float: none
        left: 0px
        

.papercon
    display: block
    position: relative
    width: 100%
    max-width: 45vw
    min-width: 153px
    float: left
    left: 86px
    overflow: hidden
    @media screen and (max-width: 1028px)
        left: 0px
    @media screen and (max-width: 480px)
        display: inline
        float: none
        left: 0px

.gridcon
    display: grid
    margin: 10px auto
    padding: 0
    grid-template-columns: repeat(auto-fill, minmax(153px, 1fr))
    grid-column-gap: 5px
    grid-row-gap: 5px

.paper
    align-self: center
    justify-self: center
    img
        max-height: 198px
        max-width: 153px

    &:hover,
    &:active,
    &:focus
        .title
            opacity: 1
            color: $offwt
        img
            transform: scale(1.1)
            transition: 0.4s ease-in-out
            @include altshadow

    @media screen and (max-width: 733px)
        max-width: 512px
        margin: 0 auto