.gridcon
    margin: 0 auto
    max-width: 50%
    overflow: hidden

.slide
    display: flex
    width: 50%
    height: 50%

.box-spot
    margin: 0 10px
    height: 194px
    width: 150px

.boxstuff
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    /* typographic styles */
    color: $offwt
    font-size: 0.8em
    font-weight: lighter
    text-decoration: none 
    /* position the text centrally*/
    display: flex
    justify-content: center
    transform: translateY(15px)
    img
        padding: 0 10px
        height: 194px
        width: 150px

.box-image
    line-height: 0

#prevBtn
    margin-top: 30px
