.papercon
    width: 100%
    max-width: 100vw
    min-width: 153px
    display: flex
    justify-content: center
    @media screen and (max-width: 1028px)
        left: 0px
    @media screen and (max-width: 690px)
        display: inline
        float: none
        max-width: 100vw
        min-height: 0px
        left: 0px
    @media screen and (max-width: 480px)
        display: inline
        float: none
        left: 0px

.papertitle
    margin: 0 auto
    h3
        text-align: center   

.gridcon
    display: grid
    max-width: 100vw
    margin: 0 auto
    padding: 0
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    grid-column-gap: 5px

.paper
    align-self: center
    justify-self: center
    display: inline
    img
        max-height: 198px
        max-width: 153px

    &:hover,
    &:active,
    &:focus
        .title
            opacity: 1
            color: $offwt
        // img
        //     transform: scale(1.1)
        //     transition: 0.4s ease-in-out
        //     @include altshadow

    @media screen and (max-width: 733px)
        max-width: 512px
        margin: 0 auto

.bigbox
    display: none
    position: absolute
    width: 100%
    height: auto
    top: 0%
    left: 0%
    margin-left: -50%
    margin-top: 30%
    max-width: 600px
    min-width: 420px
    z-index: 10
    @media screen and (max-width: 768px)
        margin-left: -100%
        margin-top: 5%
    @media screen and (max-width: 480px)
        display: none

.bigpaper
    border: solid black 5px
    background: #fff
    width: 90%
    height: auto
    margin: 0 auto
    a
        color: black
    img
        display: block
        width: 100%
    @media screen and (max-width: 1028px)
        width: 100%
    @media screen and (max-width: 480px)
        width: 100%

.blur
    @include blur

.showwrap
    margin: 0 auto
    max-width: 1100px

.showcon
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr
    grid-column-gap: 0px
    grid-row-gap: 0px
    position: relative

.show
    position: relative
    background: none
    overflow: hidden
    img
        height: auto
        width: 100%
        display: block
        transition: filter 0.2s ease-in-out
        transition: transform 0.2s ease-in-out
    &:hover,
    &:active,
    &:focus
        .showtitle
            opacity: 1
            color: $offwt
        .subtitle
            opacity: 1
            color: $offwt
        img
            filter: blur(2px)
            transform: scale(1.01)

.showtitle
    /*general*/
    z-index: 1
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: $shadow
    /*typographic styles*/
    color: $offwt
    font-size: 1.5em
    font-weight: bold
    text-decoration: none
    /*position text in center of div */
    display: flex
    align-items: center
    justify-content: center
    /* hide the title by default */
    opacity: 0
    transition: opacity .5s
    /* for touch screen devices */
    @media (hover: none)  
        .showtitle 
            opacity: 1
        .subtitle 
            opacity: 1
        .nav-image img
            filter: blur(2px)

.subtitle
    /*general*/
    top: 1.5em
    /*typographic styles*/
    font-size: 0.9em
    font-weight: lighter