.banner
    display: flex
    align-items: center
    justify-items: center
    height: 230px

    .headline
        margin: 0 auto
        text-transform: uppercase
        h1
            font-size: 8em
        @media screen and (max-width: 769px)
            h1
                font-size: 5em
        @media screen and (max-width: 480px)
            h1
                font-size: 3em


    
