#nav
  max-width: 1100px
  margin: 0 auto

.grid-container
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(367px, 1fr))
  grid-gap: 0
  margin: 0 auto
  position: relative

  @media screen and (max-width: 367px)
    display: block

  img
    width: 100%


.grid-item
  position: relative
  overflow: hidden

  &:hover,
  &:active,
  &:focus

    .title
      opacity: 1
      color: $offwt
    
    .nav-image img
      filter: blur(2px)

  @media screen and (max-width: 733px)
    max-width: 512px
    margin: 0 auto
    @include shadow

.nav-photo
  line-height: 0
  display: block

.nav-image img
  filter: blur(0px)
  transition: filter 0.3s ease-in
  transform: scale(1.1)

.title
  /*general*/
  z-index: 1
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: $shadow
  /*typographic styles*/
  color: $offwt
  font-size: 1.5em
  font-weight: bold
  text-decoration: none
  /*position text in center of div */
  display: flex
  align-items: center
  justify-content: center
  /* hide the title by default */
  opacity: 0
  transition: opacity .5s

/* for touch screen devices */
@media (hover: none)  
  .title 
    opacity: 1
  
  .nav-image img
    filter: blur(2px)
